In [ ]:
# Tuple is an immutable datatype
# changes not allowed
# tuple is a collection of similar or different datatype
# tuple is ordered and allow duplicates 
# tuple is defined in round brackets()

In [8]:
tup1=(478,12.36,"hello",[48,6578],(45,32),{45,36},{1:"Hello",2:"World"})
print(tup1)

(478, 12.36, 'hello', [48, 6578], (45, 32), {36, 45}, {1: 'Hello', 2: 'World'})

In [4]:
tup1=(478,12.36,"hello",[48,6578],(45,32),{45,36},{1:"Hello",2:"World"})
tup1[2]="demo"
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [1]:
tup1=(1,2,[45,36])
tup1[2][1]="hello"
print(tup1)

(1, 2, [45, 'hello'])

In [1]:
tup1=(45,65,89,65,41,23,65,47,45,65,89,65,89)
print(tup1[3:7])
print(tup1[-1:-6:-1])

(65, 41, 23, 65)
(89, 65, 89, 65, 45)

In [ ]:
# function in tuple
len()
min()
max()
tuple()

In [3]:
# len()----gives lenght of tuple
tup1=(45,32,56,578,96,58,6965,85)
a=len(tup1)
print(a)

8

In [4]:
# min()---gives minimum value of a tuple
tup1=(45,32,56,578,96,58,6965,85)
a=min(tup1)
print(a)

32

In [2]:
tup1=("Hello","Dict","appkle","world")
a=min(tup1)
print(a)

Dict

In [5]:
tup1=(45,32,"hello","demo")
a=min(tup1)
print(a)

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
# max()---gives maximum value of a tuple
tup1=(45,32,56,578,96,58,6965,85)
a=max(tup1)
print(a)

6965

In [7]:
tup1=("Hello","Dict","appkle","world")
a=max(tup1)
print(a)

world

In [8]:
tup1=(45,32,"hello","demo")
a=max(tup1)
print(a)

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
# tuple(iterable)
tup1=tuple({1:"Hello","wow":"great"})
tup1=tuple("hrjkiuf jhr")
tup1=tuple(range(100,125,4))
tup1=tuple({45,58,96,58,74,5})
tup1=tuple([45,25,36,58])
print(tup1)

(45, 25, 36, 58)

In [ ]:
# methods in tuple
# index()
# count()

In [16]:
# index(element)---gives index of first occurence of element
tup1=(45,87,96,58,41,23,45,65,25,63)
tup1.index(96)
# tup1.index(45874)

2

In [21]:
# count(element)---gives how many times element in tupal 
tup1=(45,87,96,58,41,23,45,65,25,63,87,87,87)
tup1.count(87)

4

In [22]:
# copy()---why it is not in tuple
# beacuse tuple is immutable changes not allowed after definition 
tup1=(1,2,3)
tup2=tup1
print(tup1)
print(tup2)

(1, 2, 3)
(1, 2, 3)

In [23]:
# tuple with a single element
tup1=("thyrthr",)
print(type(tup1))

<class 'tuple'>

In [ ]:
# SET

In [ ]:
# set is a collection of element of similar or different datatype 
# set is unordered datatype its doesn't have index value
# set not allows duplicates
# set is defined in {}

In [30]:
set1={45,23,65,45,65,21,45,65,87,45,89}
print(set1)

{65, 21, 87, 23, 89, 45}

In [ ]:
# list(dir(set))

In [34]:
set1={45,25,63,25}
set1.add("Fwerfwe")
print(set1)

{25, 'Fwerfwe', 45, 63}

In [35]:
set1={45,65,87,45,8}
set1.clear()
print(set1)

set()

In [40]:
set1={45,25,65,87,45,8,10}
set1.pop()
print(set1)

{87, 8, 25, 10, 45}

In [41]:
set1={45,65,87,458,45,87,45,98,54,56,36}
print(set1)
set1.remove(45)
print(set1)

{65, 98, 36, 458, 45, 54, 87, 56}
{65, 98, 36, 458, 54, 87, 56}

In [44]:
set1={45,25,41,25,48,75,96,8}
set2={"hello","world"}
set3=set1.union(set2)
print(set1)
print(set2)
print(set3)

{96, 48, 8, 41, 75, 45, 25}
{'world', 'hello'}
{96, 8, 41, 75, 45, 48, 'world', 25, 'hello'}

In [46]:
set1={45,25,45,65,25,58}
set2={45,36,58,978}
print(set1.intersection(set2))  #common

{58, 45}

In [50]:
set1={45,25,45,65,25}
set2={45,36,58,978}
# set1.intersection_update(set2)
set2.intersection_update(set1)

print(set1)
print(set2)

{65, 45, 25}
{45}

In [58]:
# difference
a={45,12,36,98}
b={78,21,12,69}
print(a.difference_update(b))

None

In [66]:
a={45,25,55,869,48}
# a.discard(25)
a.discard(869)
print(a)

{48, 55, 25, 45}

In [68]:
a={45,25,45,869,45}
# a.remove(25)
a.remove(869)
print(a)

{25, 45}

In [70]:
a={1,2,3,4,5}
b={6,7,8,9,4}
a.isdisjoint(b) #when no common then true if atleast one element is common then return False

False

In [71]:
a={45,25,36,58}
a.update(range(4,10))
print(a)

{4, 36, 5, 6, 7, 8, 9, 45, 25, 58}

In [75]:
a={45,25,63,54,78,458,101}
b={87,101,25,65,458}
a.symmetric_difference_update(b)# union-intersction
print(a)

{65, 78, 87, 45, 54, 63}

In [76]:
a={45,21,25}
{},{45},{21},{25},{45,21},{21,25},{45,25},{45,21,25}

({}, {45}, {21}, {25}, {21, 45}, {21, 25}, {25, 45}, {21, 25, 45})

In [77]:
a={1,2,3,4,5}
b={1,2}
b.issubset(a)

True

In [80]:
a={1,2,3,4,5}
b={1,2}

a.issuperset(b)

True