In [1]:
#String is an immutable datatype 
#immutable mens ----not changable change not allowed
#string is defined in '' , "" , '''''' , """"""
#string is orderd datatype -----
#every element has its index number ---- start from 0

In [2]:
#single line string
a = " hello worls"

In [3]:
#multi line string

a = """Hello world"""

In [4]:
#Methods of string

#slicing

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"

print(str[1])
print(str[11:16])
print(str[15:10:-1])
print(str[-9:])

y
Arpit
tiprA
developer

In [5]:
#capitalize() ----- Capitalize first letter of string


str.capitalize()

'My name is arpit thummar, i am from surat, i have to becom a full stack developer'

In [6]:
#  title() ------ Capitalize first letter of every word in string

str.title()

'My Name Is Arpit Thummar, I Am From Surat, I Have To Becom A Full Stack Developer'

In [7]:
#len() ----- for find the length of string

print(len(str))

81

In [8]:
#casefold() ---- convert uppercase into lowercase include all lenguage leatter 


str.casefold()

'my name is arpit thummar, i am from surat, i have to becom a full stack developer'

In [9]:
#lower() ---- convert uppercase into lowercase only english alfabates

str.lower()

'my name is arpit thummar, i am from surat, i have to becom a full stack developer'

In [10]:
# center(with,"charecter") ------ center the string

str.center(100 , "-")

'---------My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer----------'

In [11]:
#ljust(with,"charecter") ------ left justify the string (remover left space)

str.ljust(100 , "-")

'My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer-------------------'

In [12]:
#rjust(with,"charecter") ------ right justify the string (remover right space)

str.rjust(100 , "-")

'-------------------My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer'

In [13]:
#strip() ----- remove extra space in string
str = "     arpit     "
str.strip()

'arpit'

In [14]:
#rstrip() ------- remove extra space from right
str = "     arpit     "
str.rstrip()

'     arpit'

In [15]:
#lstrip() ------- remove extra space from left
str = "     arpit     "
str.lstrip()

'arpit     '

In [16]:
# count(substring,[startindex],[stopindex])--counts the substring in string
str.count("arpit")

1

In [1]:
# index(substring,[startindex],[stopindex])---give index of substring in string

str.index("arpit")

# --- if sunstring not found gives valueeror

TypeError: index() takes at least 1 argument (0 given)

In [17]:
# r is for a row string 
str = r"arpit /n"
print(str)

arpit /n

In [2]:
#find()

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.find("a",10,15)

#when sunstring not found 
# it gives -1 but not gives error

-1

In [4]:
# partition(substring)---return tuple having 3 string 1--left of substring
# 2---substing itself
# 3---right of substring

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.partition("I am from surat")

('My Name is Arpit Thummar, ',
 'I am from surat',
 ', i have to becom a full stack developer')

In [11]:
# endswith(susbtring[startindex][stopindex]) ----- find string end 

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.endswith("Arpit",5,12)

False

In [25]:
# startswith(susbtring[startindex][stopindex]) ----- find string start 

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.startswith("My")

True

In [18]:
#expandtabs() ----- expand the tabe space

str = "My Name is Arpit Thummar, \tI am from surat, i have to becom a full stack developer"
print(str)
print(str.expandtabs(50))

My Name is Arpit Thummar, 	I am from surat, i have to becom a full stack developer
My Name is Arpit Thummar,                         I am from surat, i have to becom a full stack developer

In [19]:
#upper() --- convert lower case in upper case

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.upper()

'MY NAME IS ARPIT THUMMAR, \tI AM FROM SURAT, I HAVE TO BECOM A FULL STACK DEVELOPER'

In [20]:
#lower() --- convert upper case in lower case

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.lower()

'my name is arpit thummar, i am from surat, i have to becom a full stack developer'

In [21]:
#swapcase() --- convert upper case in lower case and lower case in upper case

str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.swapcase()

'mY nAME IS aRPIT tHUMMAR, i AM FROM SURAT, I HAVE TO BECOM A FULL STACK DEVELOPER'

In [3]:
# spilt("substring")---gives list of string from given separator
str = "My Name is Arpit Thummar, I am from surat, i have to becom a full stack developer"
str.split(" ")

['My',
 'Name',
 'is',
 'Arpit',
 'Thummar,',
 'I',
 'am',
 'from',
 'surat,',
 'i',
 'have',
 'to',
 'becom',
 'a',
 'full',
 'stack',
 'developer']

In [34]:
#splitlines()

str = "My Name is Arpit Thummar,\n I am from surat,\n i have to becom a full stack developer"

str1 = """My Name is Arpit Thummar, 
I am from surat, 
I have to becom a full stack developer"""

print(str.splitlines())
print(str1.splitlines())

['My Name is Arpit Thummar,', ' I am from surat,', ' i have to becom a full stack developer']
['My Name is Arpit Thummar, ', 'I am from surat, ', 'I have to becom a full stack developer']

In [35]:
#zfill()------ fill the 0 to left of the string 
str1="ergbfh ehvberjhver"
str1.zfill(80)

'00000000000000000000000000000000000000000000000000000000000000ergbfh ehvberjhver'

In [2]:
txt = "Hello Sam!"
mytable = str.maketrans("rtyluiop", "opeoirty")
print(txt.translate(mytable))

Heoot Sam!

In [ ]:
txt = "Hello Sam!"
txt.replace("ergr","P")

In [1]:
str1="erre78897brg"
str1.isalnum()

True

In [ ]:
str1="errervgfer"
str1.isalpha()

In [ ]:
str1="Rf ß 3rgf3r"
str1.isascii() 
#che3ck every csharacter in stri ng has its ascii value

In [ ]:
str1="6854.685874"
print(str1.isnumeric())
print(str1.isdigit())
print(str1.isdecimal())

In [ ]:
 str1="_8eerer-gerg"
str1.isidentifier()

In [ ]:
str1="g rgertg"
str1.islower()

In [ ]:
str1="R HIFKLIOWSF"
str1.isupper()

In [ ]:
str1=r"jetgc \n nerjbr"
print(str1)
str1.isprintable()

In [ ]:
str1=" "
str1.isspace()

In [ ]:
str1="erer tur eegve"
str1.removeprefix("tur")
str1.removesuffix("tur")

In [ ]:
str1="wrfer rvgerd"
str1.replace("rvg","")