In [ ]:
# List is a callection of similer or different datatype
# List is an mutable datatype
# List is ordered and allow duplicate
# List is defind in square bracket []

In [2]:
list1 = [41,25,36,45,78,"hellow",(9,5,6),[45,65,64],{45,85,75},{1:"hello",2:"world"}]
print(list1)
print(type(list1))

[41, 25, 36, 45, 78, 'hellow', (9, 5, 6), [45, 65, 64], {45, 75, 85}, {1: 'hello', 2: 'world'}]
<class 'list'>

In [1]:
list1=[45,85,96,54,12,547]
# print(list1[2:5])
print(list1)

[45, 85, 96, 54, 12, 547]

In [ ]:
# list1[2]=[45.98,77,5]
list1[2:]=range(1,56,3)
print(list1)

In [ ]:
# list functions
len() ,min(),max(),list()

In [ ]:
# len()--string lenght
list1=[48,58,74,58,96,5847,45,66,5,86]
print(list1)
a=len(list1)
print(a)

In [ ]:
# min()--minimum value from list
list1=[48,58,74,58,96,584,7]
print(min(list1))
# list2=["hello","world","demo","z","a","A","Apple","WOW",")"]
list2=["hello","help","helawr"]
print(min(list2))
list3=[45,65,89,658,"hello","world","demo","z","a","A","Apple","WOW",")","+",43]
print(min(list3))

In [ ]:
# max()--maximum value from list
list1=[48,58,74,58,96,584,7]
print(max(list1))
list2=["hello","world","demo","z","a","A","Apple","WOW",")"]
# list2=["hello","help","helawr"]
print(max(list2))
list3=[45,65,89,658,"hello","world","demo","z","a","A","Apple","WOW",")","+",43]
print(max(list3))

In [ ]:
# list(iterable)---convert any iterable into list
l1=list("jerk jevberkj jk")
print(l1)
l1=list(range(1,50,6))
print(l1)
l1=list((48,98,54,7))
print(l1)
l1=list({48,89,78,45,84,7})
print(l1)
l1=list({2:"HEllo","wow":89}) #key will be converted into list
print(l1)

In [ ]:
# list methods

# list values add
append()
extend()
insert()

# list values remove
pop()
remove()

# list other operation
index()
count()
sort()
reverse()
copy()
clear()

In [ ]:
# dir(list)

In [1]:
# Values ADD
# append(element)--add element at last of list
list1=[78,96,58,45,25]
list1.append(58)
print(list1)
list1.append("hello")
print(list1)

[78, 96, 58, 45, 25, 58]
[78, 96, 58, 45, 25, 58, 'hello']

In [2]:
# extend(iterable)--add values at last of list as an individual element
list1=[78,96,58,45,25]
print(list1)
list1.extend("Hello")
print(list1)
list1.extend(range(78,99,4))
print(list1)

[78, 96, 58, 45, 25]
[78, 96, 58, 45, 25, 'H', 'e', 'l', 'l', 'o']
[78, 96, 58, 45, 25, 'H', 'e', 'l', 'l', 'o', 78, 82, 86, 90, 94, 98]

In [ ]:
# insert(index,element)--add element at given index
list1=[78,96,54,212,6,58,9,6585,85,65]
print(list1)
list1.insert(4,"Great Warrior")
print(list1)

In [ ]:
# pop([index])--remove element at particular index
list1=[78,96,58,41,25,47,85,96,58]
print(list1)
list1.pop(6)
print(list1) 
# list1.pop(60) #IndexError: pop index out of range
print(list1)

In [ ]:
list1=[78,85,98,54,74,12,5]
print(list1)
list1.pop()
print(list1)

In [ ]:
# remove(element)---remove element from list at its first occurence
list1=[78,96,58,78,45,87,84,596,45,87,89,65,45]
print(list1)
list1.remove(45)
print(list1)
# list1.remove(4875) ValueError: list.remove(x): x not in list
# print(list1)

In [ ]:
# index(element)----give indexc of particular element at its first occurence
list1=[78,95,63,21,45,86,21,45,896,5,12,21,45,78]
print(list1.index(21)) 
# print(list1.index(789654))ValueError: 789654 is not in list

In [ ]:
# count(element)---number of occurences of element in a list
list1=[78,95,63,21,45,86,21,45,896,5,12,21,45,78]
print(list1.count(21)) 
print(list1.count(654654))

In [2]:
# clear()---clear whole list
list1=[78,95,63,21,45,86,21,45,896,5,12,21,45,78]
print(list1)
list1.clear()
print(list1)

[78, 95, 63, 21, 45, 86, 21, 45, 896, 5, 12, 21, 45, 78]
[]

In [1]:
# sort()---sort the list in ascending order by deafult if we have to sort in descending order
# make reverse=True
list1=[78,95,63,21,45,86,21,45,896,5,12,21,45,78]
list1.sort(reverse=True)
print(list1)
list1=["gfer","yuyrt","uop","hello","Apple"]
list1.sort(reverse=True)
print(list1)
list1=["gfer",85,"uop","hello","Apple"]
list1.sort(reverse=True)
print(list1)

[896, 95, 86, 78, 78, 63, 45, 45, 45, 21, 21, 21, 12, 5]
['yuyrt', 'uop', 'hello', 'gfer', 'Apple']

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# reverse()---reverse whole list
list1=[78,95,63,21,45,86,21,45,896,5,12,21,45]
list1.reverse()
print(list1)